/* ******************** Reset ******************** */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    border: none;
    outline: none;
}
ul {
    list-style: none;
}
/* ******************** fonts ******************** */
@font-face {
    font-family: 'BigShoulders';
    src: url(./fonts/BigShouldersDisplay-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'LexendDeca';
    src: url(./fonts/LexendDeca-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
/* ******************** Variables ******************** */
:root {
    --bg-orange: hsl(31, 77%, 52%);
    --bg-cyan: hsl(184, 100%, 22%);
    --bg-dark-cyan: hsl(179, 100%, 13%);
    --color-headings: hsl(0, 0%, 95%);
    --color-p: hsla(0, 0%, 100%, 0.75);
}
/* ******************** Global Style ******************** */
body {
    font-size: 0.9rem;
    background-color: var(--color-headings);
}
h3 {
    font-family: 'BigShoulders';
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-headings);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
p {
    font-family: 'LexendDeca';
    font-weight: 100;
    line-height: 25px;
    color: var(--color-p);
    margin-bottom: 1.5rem;
}
button {
    padding: 0.9rem 2rem;
    background-color: var(--color-headings);
    border: 1px solid var(--color-headings);
    border-radius: 1.5rem;
    font-family: 'LexendDeca';
    font-weight: 500;
}
.first button {
    color: var(--bg-orange);
}
.second button {
    color: var(--bg-cyan);
}
.third button {
    color: var(--bg-dark-cyan);
}
button:hover {
    background-color: transparent;
    border-radius: 1.5rem;
    color: var(--color-headings);
    cursor: pointer;
}
ul {
    display: flex;
    flex-direction: column;
}
li {
    padding: 2.9rem;
}
/* ******************** Mobile Design ******************** */
.container {
    width: 100%;
    max-width: 327px;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
}
.first {
    background-color: var(--bg-orange);
}
.second {
    background-color: var(--bg-cyan);
}
.third {
    background-color: var(--bg-dark-cyan);
}
.icon-wrapper {
    margin-bottom: 2.1rem;
}
/* ******************** Desktop Design ******************** */
@media screen and (min-width: 924px) {
    .container {
        max-width: 921px;
    }
    ul {
        flex-direction: row;
    }
    li {
        flex-basis: 307px;
    }
    p {
        margin-bottom: 5.1rem;
    }
    button {
        font-weight: 600;
    }
    button:hover {
        font-weight: 500;
    }
}